<tr>
    <th scope="row">{{date}}</th>
    <td>{{_id}}</td>
    <td>{{formatPrice total}}</td>
    <td><button class="btn btn-outline-info" onclick="{{orderDetails_onclick}}(event,  '{{_id}}')">Detalles</button></td>
</tr>