<div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3 mb-3">
    <div class="card bg-light">
        <img src={{url}} class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">
                {{name}}
            </h5>
            <div class="card-text">
                {{description}}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <div class="row mt-3">
                <div class="col">
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white" id="priceCinelli">{{formatPrice price}}</span>
                        </div>
                        <div class="input-group-append">
                            {{#if user}}
                            <button class="btn btn-outline-success" type="button"
                                onclick="{{addToCart_onclick}}(event, {{id}})">Añadir</button>
                            {{else}}
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#notLoggedIn">Añadir</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>